{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'append/img/favicon.png' %}" rel="icon">
  <link href="{% static 'append/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'append/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'append/css/main.css' %}" rel="stylesheet">

  <style>
   #hero {
            position: relative;
            overflow: hidden; /* Ensures the video doesn't overflow the container */
        }

        #background-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the video covers the entire container */
        }

        #text-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; /* Customize text color */
            text-align: center;
            font-size: 24px; /* Adjust font size as needed */
        }
             /* Add a new CSS class for responsive behavior */
             @media (max-width: 768px) {
            .faq-item {
                display: none;
            }

            .faq-item.faq-active {
                display: block;
            }
        }
        .tos {
    text-align: left; /* Center-align text */
    margin-top: 50px; /* Add margin from the top */
    width: 50%; /* Set width */
    margin-left: auto; /* Center content horizontally */
    margin-right: auto; /* Center content horizontally */
}


  </style>
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'append/img/logo.png' %}" alt=""> -->
        <h1>EmoCare</h1>
        <span>.</span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
      {% if user.is_authenticated  %}
      <a class="btn-getstarted" href={% url 'emotions:dashboard' %}>Sign In</a>
      {% else %}
      <a class="btn-getstarted" href={% url 'account_login' %}>Sign Up</a>
      {% endif %}

    </div>
  </header><!-- End Header -->
  <main id="main">
    
  

 
    <!-- About Section - Home Page -->
    <section id="about" class="about">
        <div class="tos" >

            <h2>Acceptable Use Notice</h2>
            <p>
              This acceptable use notice sets out the terms between you and us under which you may access our website <a href="www.EmoCare.co.uk">www.EmoCare.co.uk</a> (our site). We are registered in England and Wales under company number 15398624 and we have our registered office at 4 Durham Workspace, Abbey Road, Pity Me, Durham DH1 5JZ.
            </p>
          
            <h3>Prohibited Uses</h3>
            <p>
              You may use our site only for lawful purposes. You may not use our site:
            </p>
            <ul>
              <li>In any way that breaches any applicable local, national or international law or regulation.</li>
              <li>In any way that is unlawful or fraudulent or has any unlawful or fraudulent purpose or effect.</li>
              <li>For the purpose of harming or attempting to harm minors in any way.</li>
              <li>To send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards (see below).</li>
              <li>To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam).</li>
              <li>To knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
            </ul>
          
            <h3>Interactive Services</h3>
            <p>
              We may from time to time provide interactive services on our site, including, without limitation:
            </p>
            <ul>
              <li>Chat rooms.</li>
              <li>Bulletin boards.</li>
              <li>Comments.</li>
            </ul>
            <p>
              Where we do provide any interactive service, we will provide clear information to you about the kind of service offered, if it is moderated and what form of moderation is used (including whether it is human or technical).
            </p>
          
            <h3>Content Standards</h3>
            <p>
              These content standards apply to any and all material which you contribute to our site (contributions), and to any interactive services associated with it.
            </p>
            <p>
              You must comply with the spirit and the letter of the following standards. The standards apply to each part of any contribution as well as to its whole.
            </p>
            <ul>
              <li>Be accurate (where they state facts).</li>
              <li>Be genuinely held (where they state opinions).</li>
              <li>Comply with applicable law in the UK and in any country from which they are posted.</li>
            </ul>
            <p>
              Contributions must not:
            </p>
            <ul>
              <li>Contain any material which is defamatory of any person.</li>
              <li>Contain any material which is obscene, offensive, hateful or inflammatory.</li>
              <li>Promote sexually explicit material.</li>
              <li>Promote violence.</li>
              <li>Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
              <li>Infringe any copyright, database right or trademark of any other person.</li>
                <li>Be likely to deceive any person.</li>
                <li>Be made in breach of any legal duty owed to a third-party, such as a contractual duty or a duty of confidence.</li>
                <li>Promote any illegal activity.</li>
                <li>Be threatening, abusive, or invade another’s privacy, or cause annoyance, inconvenience, or needless anxiety.</li>
                <li>Be likely to harass, upset, embarrass, alarm, or annoy any other person.</li>
                <li>Be used to impersonate any person, or to misrepresent your identity or affiliation with any person.</li>
                <li>Give the impression that they emanate from us, if this is not the case.</li>
                <li>Advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.</li>
            </ul>

            <h3>Suspension and Termination</h3>
            <p>
                We will determine, at our discretion, whether there has been a breach of this acceptable use notice through your use of our site. When a breach of this notice has occurred, we may take such action as we deem appropriate.
            </p>
            <p>
                Failure to comply with this acceptable use notice constitutes a material breach of the terms of website use upon which you are permitted to use our site, and may result in our taking all or any of the following actions:
            </p>
            <ul>
                <li>Immediate, temporary or permanent withdrawal of your right to use our site.</li>
                <li>Immediate, temporary or permanent removal of any posting or material uploaded by you to our site.</li>
                <li>Issue of a warning to you.</li>
                <li>Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach.</li>
                <li>Further legal action against you.</li>
                <li>Disclosure of such information to law enforcement authorities as we reasonably feel is necessary. We exclude liability for actions taken in response to breaches of this acceptable use notice. The responses described in this notice are not limited, and we may take any other action we reasonably deem appropriate.</li>
            </ul>

            <h3>Changes to the Acceptable Use Notice</h3>
            <p>
                We may revise this acceptable use notice at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we make, as they are legally binding on you. Some of the provisions contained in this acceptable use notice may also be superseded by provisions or notices published elsewhere on our site.
            </p>

        </div>

        

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
          </div>

         
          </div>

        </div>
      </div>

    </section><!-- End About Section -->



  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/tos"> Terms and Conditions</a></li>
            <li><a href="/privacy">Privacy Notice</a></li>
            <li><a href="/aun">Acceptable Use Notice</a></li>
            <li><a href="/cookie">Cookies Policy</a></li>
            <li><a href="/accessibility">Accessibility</a></li>
            </ul>
        </div>

        

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          
          
          <p>Unit 4, Durham Workspace, Abbey Road, Durham DH1 5JZ</p>
          <p>United Kingdom</p>
          <p class="mt-4"><strong>Phone:</strong> <span>0044(0)3331886566</span></p>
          <p><strong>Email:</strong> <span>hello@EmoCare.co.uk</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Append</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'append/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'append/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'append/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'append/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'append/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'append/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'append/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'append/js/main.js' %}"></script>

</body>

</html>
{% endblock %}