{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'append/img/favicon.png' %}" rel="icon">
  <link href="{% static 'append/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'append/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'append/css/main.css' %}" rel="stylesheet">

  <style>
   #hero {
            position: relative;
            overflow: hidden; /* Ensures the video doesn't overflow the container */
        }

        #background-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the video covers the entire container */
        }

        #text-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; /* Customize text color */
            text-align: center;
            font-size: 24px; /* Adjust font size as needed */
        }
             /* Add a new CSS class for responsive behavior */
             @media (max-width: 768px) {
            .faq-item {
                display: none;
            }

            .faq-item.faq-active {
                display: block;
            }
        }
        .tos {
    text-align: left; /* Center-align text */
    margin-top: 50px; /* Add margin from the top */
    width: 50%; /* Set width */
    margin-left: auto; /* Center content horizontally */
    margin-right: auto; /* Center content horizontally */
}


  </style>
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'append/img/logo.png' %}" alt=""> -->
        <h1 style="color: black;">EmoCare</h1>
        <span>.</span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active" style="color: #e84545;">Home</a></li>
          
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
      {% if user.is_authenticated  %}
      <a class="btn-getstarted" href={% url 'emotions:dashboard' %}>Sign In</a>
      {% else %}
      <a class="btn-getstarted" href={% url 'account_login' %}>Sign Up</a>
      {% endif %}

    </div>
  </header><!-- End Header -->
  <main id="main">
    
  

 
    <!-- About Section - Home Page -->
    <section id="about" class="about">
        <div class="tos" >

            <h2>Cookies Policy</h2>
            <p>
                Cookies are small text files that are placed on your computer by websites that you visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site. Our aim in using Cookies is to be able to make the site better for you.
            </p>
            <p>
                The cookies may identify the following information when you use our website:
            </p>
            <ul>
                <li>Technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, browser plug-in types and versions, operating system type, version and platform, device type, version or serial number, screen resolution and number of CPU cores;</li>
                <li>Information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from our site (including date and time stamps);</li>
                <li>Products you viewed or searched for;</li>
                <li>Page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs);</li>
                <li>Methods used to browse away from the page and any phone number used to call our customer service number.</li>
            </ul>
        </div>

        

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
          </div>

         
          </div>

        </div>
      </div>

    </section><!-- End About Section -->



  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/tos"> Terms and Conditions</a></li>
            <li><a href="/privacy">Privacy Notice</a></li>
            <li><a href="/aun">Acceptable Use Notice</a></li>
            <li><a href="/cookie">Cookies Policy</a></li>
            <li><a href="/accessibility">Accessibility</a></li>
            </ul>
        </div>

        

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          
          
          <p>Unit 4, Durham Workspace, Abbey Road, Durham DH1 5JZ</p>
          <p>United Kingdom</p>
          <p class="mt-4"><strong>Phone:</strong> <span>0044(0)3331886566</span></p>
          <p><strong>Email:</strong> <span>hello@EmoCare.co.uk</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Append</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'append/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'append/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'append/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'append/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'append/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'append/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'append/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'append/js/main.js' %}"></script>

</body>

</html>
{% endblock %}