{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Emocare</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'append/img/favicon.png' %}" rel="icon">
  <link href="{% static 'append/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'append/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'append/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'append/css/main.css' %}" rel="stylesheet">

  <style>
   #hero {
            position: relative;
            overflow: hidden; /* Ensures the video doesn't overflow the container */
        }

        #background-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the video covers the entire container */
        }

        #text-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; /* Customize text color */
            text-align: center;
            font-size: 24px; /* Adjust font size as needed */
        }
             /* Add a new CSS class for responsive behavior */
             @media (max-width: 768px) {
            .faq-item {
                display: none;
            }

            .faq-item.faq-active {
                display: block;
            }
        }

  </style>
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'append/img/logo.png' %}" alt=""> -->
        <h1>EmoCare</h1>
        <span>.</span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#testimonials">testimonials</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
      {% if user.is_authenticated  %}
      <a class="btn-getstarted" href={% url 'emotions:dashboard' %}>Sign In</a>
      {% else %}
      <a class="btn-getstarted" href={% url 'account_login' %}>Sign Up</a>
      {% endif %}

    </div>
  </header><!-- End Header -->
  <main id="main">
    <section id="hero" class="hero">
      <video id="background-video" src="static/images/landingpage_video.mp4" autoplay loop muted playsinline>
        Your browser does not support the video tag.
      </video>
  
      <div class="overlay"></div>
  
      <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 data-aos="fade-up" data-aos-delay="100">EmoCare</h2>
                <p data-aos="fade-up" data-aos-delay="200">Revolutionising Childcare with Emotion Recognition Technology</p>
            </div>
            <div class="col-lg-5">
      {% if user.is_authenticated  %}

                <a href={% url "emotions:dashboard" %} class="btn  btn-lg text-white" style="background-color: #e84545;" data-aos="fade-up" data-aos-delay="300">Get Started</a>
      {% else %}
      <a href={% url "account_login" %} class="btn  btn-lg text-white" style="background-color: #e84545;" data-aos="fade-up" data-aos-delay="300">Sign In</a>
      {% endif %}

            </div>
        </div>
    </div>
    
    </section><!-- End Hero Section -->
  

 
    <!-- About Section - Home Page -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>About Us</h3>
            <h2>
            Behind EmoCare: Innovating for Children's Emotional Wellbeing
           </h2>
        <p>At EmoCare, we're dedicated to enhancing the emotional landscape of childcare with our advanced emotion recognition technology, fostering healthier relationships and developmental success.
        </p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <i class="bi bi-buildings"></i>
                  <h3>Emotion Recognition</h3>
                  <p>EmoCare uses cutting-edge emotion recognition technology to understand and respond to children's emotions, creating a more empathetic environment.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <i class="bi bi-clipboard-pulse"></i>
                  <h3>Child Safety</h3>
                  <p>EmoCare prioritises child safety with robust features, ensuring a secure environment for peace of mind for parents and caregivers.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <i class="bi bi-command"></i>
                  <h3>Customizable Solutions</h3>
                  <p>EmoCare provides customisable solutions to meet each child's unique needs, adapting to different environments for a personalised experience.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <i class="bi bi-graph-up-arrow"></i>
                  <h3>Communication Enhancement</h3>
                  <p>Improve communication between children, parents, and caregivers. EmoCare provides insights into a child's emotions, fostering better connections and understanding.</p>
                </div>
              </div> <!-- End Icon Box -->

            </div>
          </div>

        </div>
      </div>

    </section><!-- End About Section -->


     <!-- Services Section - Home Page -->
 <section id="features" class="services">

  <!--  Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Features</h2>
    <p>Explore EmoCare's Cutting-Edge Features: Designed with Your Child in Mind
    </p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
          <div>
            <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Real-Time Emotion Recognition</a></h4>
            <p class="description">EmoCare employs machine learning to analyse facial expressions and vocal tones, offering real-time recognition of children's emotions, enabling timely and appropriate caregiver responses.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
          <div>
            <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Emotional Growth Tracking</a></h4>
            <p class="description">Track the emotional development of children over time with EmoCare, providing insights into patterns and progress in their emotional wellbeing.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
          <div>
            <h4 class="title"><a  href={% url 'account_login' %} class="stretched-link">Multi-Child Profiles</a></h4>
            <p class="description">Manage multiple child profiles within the EmoCare app, allowing caregivers and educators to cater to the emotional needs of several children simultaneously.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
          <div>
            <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Secure Data Privacy</a></h4>
            <p class="description">EmoCare prioritises privacy, ensuring all data is securely processed and stored, with strict adherence to data protection laws to safeguard sensitive information.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
          <div>
            <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Customisable Alerts</a></h4>
            <p class="description">Set custom alerts for specific emotional events, enabling caregivers to respond promptly to moments of distress or happiness in children's lives.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
          <div>
            <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Activity and Resource Library</a></h4>
            <p class="description">Access a curated library of activities and resources designed to support emotional learning and development, tailored to different emotions detected by EmoCare.</p>
          </div>
        </div>
      </div><!-- End Service Item -->
      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
          <div>
            <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Caregiver Collaboration Tools</a></h4>
            <p class="description">Facilitate collaboration among caregivers and educators with tools that share insights and strategies for supporting each child's emotional journey.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
          <div>
            <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Cloud-Based Accessibility</a></h4>
            <p class="description">EmoCare's cloud-based platform ensures that caregivers have access to emotional insights and suggestions from any device, anywhere, anytime.</p>
          </div>
        </div>
      </div><!-- End Service Item --> <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
          <div>
            <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Intuitive User Interface</a></h4>
            <p class="description">Designed with simplicity in mind, EmoCare's user interface allows for easy navigation and operation by caregivers of all tech-savviness levels.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
          <div>
            <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Language Support</a></h4>
            <p class="description">EmoCare supports multiple languages, making it accessible to a diverse range of caregivers and children across the UK and beyond.</p>
          </div>
        </div>
      </div><!-- End Service Item --> 
      
      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
          <div>
            <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Daily Emotional Summaries</a></h4>
            <p class="description">Receive daily summaries of your child's emotional states, providing a comprehensive overview of their wellbeing and aiding in long-term emotional support planning.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
          <div>
            <h4 class="title"><a href="{% url 'account_login' %}" class="stretched-link">API Integration</a></h4>
            <p class="description">EmoCare offers API integration, allowing for seamless connection with other childcare and educational tools, enhancing the ecosystem of child support services.</p>
          </div>
        </div>
      </div><!-- End Service Item -->
      

      <div class="service-item d-flex">
        <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
        <div>
          <h4 class="title"><a href={% url 'account_login' %} class="stretched-link">Stress and Anxiety Detection</a></h4>
          <p class="description">Advanced algorithms enable EmoCare to detect subtle signs of stress and anxiety in children, prompting immediate action to alleviate these feelings.</p>
        </div>
      </div>
    
    </div><!-- End Service Item -->

  </div>    



</div>

</section><!-- End Services Section -->

    
        </div>

      </div>

    </section><!-- End Services Section -->

   
    
    <!-- Pricing Section - Home Page -->
    <section id="pricing" class="pricing">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Pricing</h2>
        <p>Flexible Pricing for EmoCare: Choose What's Best for Your Family</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="zoom-in" data-aos-delay="100">

        <div class="row g-4">

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Basic Tier</h3>
              <div class="icon">
                <i class="bi bi-box"></i>
              </div>
              <h4><sup>£</sup>19.99<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Emotion Recognition</span></li>
                <li><i class="bi bi-check"></i> <span>Voice Tone Analysis</span></li>
                <li><i class="bi bi-check"></i> <span>Daily Emotional Summary</span></li>
                <li><i class="bi bi-check"></i> <span>EmoCare Tips</span></li>
              </ul>
              <div class="text-center"><a  href="{% url 'account_signup' %}" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Standard Tier</h3>
              <div class="icon">
                <i class="bi bi-rocket"></i>
              </div>

              <h4><sup>£</sup>34.99<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Enhanced Emotion Recognition</span></li>
                <li><i class="bi bi-check"></i> <span>Behavioral Patterns Analysis:</span></li>
                <li><i class="bi bi-check"></i> <span>Interactive Emotional Diary</span></li>
                <li><i class="bi bi-check"></i> <span>Custom Response Suggestions</span></li>
                <li><i class="bi bi-check"></i> <span>Access to Expert Articles and Webinars</span></li>
              </ul>
              <div class="text-center"><a  href="{% url 'account_signup' %}" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Premium Tier</h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4><sup>£</sup>49.99<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Predictive Emotional Insights</span></li>
                <li><i class="bi bi-check"></i> <span>24/7 Support</span></li>
                <li><i class="bi bi-check"></i> <span>Personalised Caregiver Coaching</span></li>
                <li><i class="bi bi-check"></i> <span>Family Emotional Health Repor</span></li>
                <li><i class="bi bi-check"></i> <span>Integration with Smart Home Devices</span></li>
              </ul>
              <div class="text-center"><a  href="{% url 'account_signup' %}" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- End Pricing Section -->

    
    <!-- Faq Section - Home Page -->
    <section id="faq" class="faq">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="content px-xl-5">
              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
             
              <p>EmoCare's FAQs Have the Answers You Need </p>

            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-container">
              <div class="faq-item faq-active">
                <h3><span class="num">1.</span> <span>How does EmoCare recognise emotions?</span></h3>
                <div class="faq-content">
                  <p>EmoCare uses advanced machine learning algorithms to analyse facial expressions, body language, and vocal tones, accurately identifying children's emotions to support their emotional wellbeing effectively.</p>
                  
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
              
              <div class="faq-item">
                <h3><span class="num">2.</span> <span>Is EmoCare easy to use for non-technical parents?</span></h3>
                
                <div class="faq-content">
                  <p>Absolutely! EmoCare is designed with a user-friendly interface, ensuring that parents and caregivers, regardless of their technical background, can easily navigate the app and utilise its features to support their child's emotional development.</p>

                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">3.</span> <span>How does the parental notification system work?</span></h3>

                <div class="faq-content">
                  <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">4.</span> <span>What kind of activities does EmoCare suggest?</span></h3>

                <div class="faq-content">
                  <p>Depending on the detected emotion, EmoCare suggests a variety of activities, such as engaging games for happiness, soothing music for sadness, or calming exercises for anger, tailored to support the child's emotional state at that moment.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">5.</span> <span>How does EmoCare ensure data privacy?</span></h3>

                <div class="faq-content">
                  <p>EmoCare prioritises your family's privacy with a strict data protection policy, encrypting all personal information and adhering to the highest privacy standards, giving you control over your data.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div>
        </div>

      </div>

    </section><!-- End Faq Section -->

   

    <!-- Call-to-action Section - Home Page -->
    <section id="call-to-action" class="call-to-action">

      <img src="{% static 'append/img/cta-bg.jpg' %}" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Call To Action</h3>
              <p>Start you children emotion care today</p>
              <a class="cta-btn" href="#">Call To Action</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Call-to-action Section -->

    <!-- Testimonials Section - Home Page -->
    <section id="testimonials" class="testimonials">

      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
            <h3>Testimonials</h3>
            <p>
            Discover transformative user stories with EmoCare. Join our community in celebrating personal growth and resilience.
              
            </p>
          </div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

            <div class="swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="{% static 'images/testimonial-1.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Sarah</h3>
                        <h4>From Londonr</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>
                        EmoCare has been a revelation for our family. It's helped us understand our son's emotions better and respond in a more supportive way. Truly a game-changer for our daily lives.

                        </span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="{% static 'append/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Mike</h3>
                        <h4>From Manchester</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Thanks to EmoCare, I feel much closer to my daughter. The app's activity suggestions have provided us with ways to connect and understand each other better. It's been an invaluable tool.</span>

                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="{% static 'append/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Priya</h3>
                        <h4>From Birmingham</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>EmoCare has brought so much peace to our home. Detecting my child's anxiety early and responding with suggested activities has made a real difference. Highly recommend it to any parent.</span>

                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="{% static 'append/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>James</h3>
                        <h4>From Edinburgh</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Discovering EmoCare was a turning point for us. It's like having a window into my child's emotional world, allowing us to address feelings before they become overwhelming. Can't praise it enough.</span>

                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="{% static 'images/testimonial-4.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Olivia</h3>
                        <h4>From Cardiff</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>The difference EmoCare has made in understanding our twins' emotional needs is astounding. Its suggestions for activities have brought us closer and made communication so much easier. A must-have for parents.</span>

                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- End Testimonials Section -->

    <!-- Contact Section - Home Page -->
    <section id="contact" class="contact">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Get in touch with us</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Unit 4, Durham Workspace, Abbey Road, Durham DH1 5JZ</p>
                  <p>United Kingdom</p>

                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>0044(0)3331886566</p>

                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>hello@EmoCare.co.uk</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday</p>
                  <p>9:00AM - 5:00PM</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
         
          <p>
          Navigate through our footer to find quick links to all of EmoCare's services and resources, ensuring you have the support and information you need for your child's emotional development.

          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/tos"> Terms and Conditions</a></li>
            <li><a href="/privacy">Privacy Notice</a></li>
            <li><a href="/aun">Acceptable Use Notice</a></li>
            <li><a href="/cookie">Cookies Policy</a></li>
            <li><a href="/accessibility">Accessibility</a></li>
            </ul>
        </div>

        

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          
          
          <p>Unit 4, Durham Workspace, Abbey Road, Durham DH1 5JZ</p>
          <p>United Kingdom</p>
          <p class="mt-4"><strong>Phone:</strong> <span>0044(0)3331886566</span></p>
          <p><strong>Email:</strong> <span>hello@EmoCare.co.uk</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Append</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'append/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'append/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'append/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'append/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'append/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'append/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'append/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'append/js/main.js' %}"></script>

</body>

</html>
{% endblock %}